h1 {
  font-family: verdana;
  color: white;
  font-size: 50px;
  text-align: center;
}
body {
    background-color: Black;
}
.link {
  font-size: 18px;
  color: aquamarine;
}
p{
  text-align: center;
}
h2 {
  font-family: verdana;
  color: gray;
  font-size: 21px;
  text-align: center;
}
h3 {
  font-family: verdana;
  color: white;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
}
h4 {
  font-family: verdana;
  text-align: right;
  color: gray;
}
